# Ігнорування конфіденційних файлів
.env

# Ігнорування залежностей
/node_modules

# Ігнорування збудованих файлів та директорій
/build
/dist

# Ігнорування Docker-файлів (якщо не потрібні в образі)
Dockerfile
docker-compose.yml

# Ігнорування інших файлів та директорій за необхідності
*.log
*.swp
